[submodule "vendor/zscaler-sdk-python"]
	path = vendor/zscaler-sdk-python
	url = https://github.com/zscaler/zscaler-sdk-python.git
[submodule "vendor/terraform-provider-zia"]
	path = vendor/terraform-provider-zia
	url = https://github.com/zscaler/terraform-provider-zia.git
[submodule "vendor/terraform-provider-zpa"]
	path = vendor/terraform-provider-zpa
	url = https://github.com/zscaler/terraform-provider-zpa.git
[submodule "vendor/zscaler-mcp-server"]
	path = vendor/zscaler-mcp-server
	url = https://github.com/zscaler/zscaler-mcp-server.git
[submodule "vendor/splunk-sdk-python"]
	path = vendor/splunk-sdk-python
	url = https://github.com/splunk/splunk-sdk-python.git
