[submodule "vendor/zscaler-sdk-python"]
	path = vendor/zscaler-sdk-python
	url = https://github.com/zscaler/zscaler-sdk-python.git
[submodule "vendor/terraform-provider-zia"]
	path = vendor/terraform-provider-zia
	url = https://github.com/zscaler/terraform-provider-zia.git
[submodule "vendor/terraform-provider-zpa"]
	path = vendor/terraform-provider-zpa
	url = https://github.com/zscaler/terraform-provider-zpa.git
[submodule "vendor/zscaler-mcp-server"]
	path = vendor/zscaler-mcp-server
	url = https://github.com/zscaler/zscaler-mcp-server.git
[submodule "vendor/splunk-sdk-python"]
	path = vendor/splunk-sdk-python
	url = https://github.com/splunk/splunk-sdk-python.git
[submodule "vendor/zscaler-sdk-go"]
	path = vendor/zscaler-sdk-go
	url = https://github.com/zscaler/zscaler-sdk-go
[submodule "vendor/terraform-provider-ztc"]
	path = vendor/terraform-provider-ztc
	url = https://github.com/zscaler/terraform-provider-ztc
[submodule "vendor/ziacloud-ansible"]
	path = vendor/ziacloud-ansible
	url = https://github.com/zscaler/ziacloud-ansible.git
[submodule "vendor/zpacloud-ansible"]
	path = vendor/zpacloud-ansible
	url = https://github.com/zscaler/zpacloud-ansible.git
[submodule "vendor/zpacloud-playbooks"]
	path = vendor/zpacloud-playbooks
	url = https://github.com/zscaler/zpacloud-playbooks.git
[submodule "vendor/zscaler-terraformer"]
	path = vendor/zscaler-terraformer
	url = https://github.com/zscaler/zscaler-terraformer.git
[submodule "vendor/zscaler-terraform-skills"]
	path = vendor/zscaler-terraform-skills
	url = https://github.com/zscaler/zscaler-terraform-skills.git
