{
  "components": {
    "securitySchemes": {
      "Bearer": {
        "scheme": "bearer",
        "type": "http"
      },
      "BearerAuth": {
        "scheme": "bearer",
        "type": "http"
      },
      "bearerAuth": {
        "scheme": "bearer",
        "type": "http"
      }
    }
  },
  "info": {
    "description": "API Reference Guide for the Event Monitoring & Notification API",
    "title": "Event Monitoring & Notification API",
    "version": "docusaurus-blob-snapshot"
  },
  "openapi": "3.0.3",
  "paths": {
    "/catalog/sources": {
      "get": {
        "description": "List all sources",
        "operationId": "Catalog Resource Get All Sources",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "sources": {
                      "items": {
                        "properties": {
                          "_links": {
                            "title": "SourceCatalogItemResponse_links",
                            "type": "object"
                          },
                          "description": {
                            "type": "string"
                          },
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "title": "SourceCatalogItemResponse",
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "title": "SourceResponse",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Catalog"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "29f5ca66b44d236ea5a4952fddd4ee122c522808abfabc9f9a4da51e46768fa5",
          "chunk_id": 42948,
          "chunk_url": "https://automate.zscaler.com/assets/js/086a3690.65caecd0.js",
          "module": 76516
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "GET",
            "name": "List all sources",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "catalog",
                "sources"
              ],
              "query": [],
              "variable": []
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-catalog/catalog-resource-get-all-sources",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-catalog/catalog-resource-get-all-sources"
      }
    },
    "/catalog/sources/{sourceKey}": {
      "get": {
        "description": "Get a source by key",
        "operationId": "Catalog Resource Get Source",
        "parameters": [
          {
            "in": "path",
            "name": "sourceKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_links": {
                      "title": "SourceCatalogItemResponse_links",
                      "type": "object"
                    },
                    "description": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "title": "SourceCatalogItemResponse",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Catalog"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "d2a4c1876abef87a50d2229a7150464809bb057eee6e44e5a0f5e032575c777c",
          "chunk_id": 46703,
          "chunk_url": "https://automate.zscaler.com/assets/js/6a7ce90c.35aa5fd0.js",
          "module": 90111
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "GET",
            "name": "Get a source by key",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "catalog",
                "sources",
                ":sourceKey"
              ],
              "query": [],
              "variable": [
                {
                  "description": {
                    "content": "(Required) ",
                    "type": "text/plain"
                  },
                  "disabled": false,
                  "key": "sourceKey",
                  "type": "any",
                  "value": ""
                }
              ]
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-catalog/catalog-resource-get-source",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-catalog/catalog-resource-get-source"
      }
    },
    "/catalog/sources/{sourceKey}/source-types": {
      "get": {
        "description": "List source types for a source",
        "operationId": "Catalog Resource Get Source Types",
        "parameters": [
          {
            "in": "path",
            "name": "sourceKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "source_types": {
                      "items": {
                        "properties": {
                          "_links": {
                            "title": "SourceTypeCatalogItemResponse_links",
                            "type": "object"
                          },
                          "description": {
                            "type": "string"
                          },
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "title": "SourceTypeCatalogItemResponse",
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "title": "SourceTypeResponse",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Catalog"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "04cf6812b3d01cd867e856deb5ef71edaa8efc0355439ee34b7cf988916fe84d",
          "chunk_id": 75213,
          "chunk_url": "https://automate.zscaler.com/assets/js/548e668d.2291b244.js",
          "module": 39043
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "GET",
            "name": "List source types for a source",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "catalog",
                "sources",
                ":sourceKey",
                "source-types"
              ],
              "query": [],
              "variable": [
                {
                  "description": {
                    "content": "(Required) ",
                    "type": "text/plain"
                  },
                  "disabled": false,
                  "key": "sourceKey",
                  "type": "any",
                  "value": ""
                }
              ]
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-catalog/catalog-resource-get-source-types",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-catalog/catalog-resource-get-source-types"
      }
    },
    "/catalog/sources/{sourceKey}/source-types/{sourceTypeKey}": {
      "get": {
        "description": "Get a specific source type",
        "operationId": "Catalog Resource Get Source Type",
        "parameters": [
          {
            "in": "path",
            "name": "sourceKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "sourceTypeKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_links": {
                      "title": "SourceTypeCatalogItemResponse_links",
                      "type": "object"
                    },
                    "description": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "title": "SourceTypeCatalogItemResponse",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Catalog"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "0aed6d2d632e0a9aeaa73ecaec7aa9907d228c95e765f6f781e336f786ddab42",
          "chunk_id": 38912,
          "chunk_url": "https://automate.zscaler.com/assets/js/2f8e999c.6190a3b7.js",
          "module": 1606
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "GET",
            "name": "Get a specific source type",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "catalog",
                "sources",
                ":sourceKey",
                "source-types",
                ":sourceTypeKey"
              ],
              "query": [],
              "variable": [
                {
                  "description": {
                    "content": "(Required) ",
                    "type": "text/plain"
                  },
                  "disabled": false,
                  "key": "sourceKey",
                  "type": "any",
                  "value": ""
                },
                {
                  "description": {
                    "content": "(Required) ",
                    "type": "text/plain"
                  },
                  "disabled": false,
                  "key": "sourceTypeKey",
                  "type": "any",
                  "value": ""
                }
              ]
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-catalog/catalog-resource-get-source-type",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-catalog/catalog-resource-get-source-type"
      }
    },
    "/catalog/sources/{sourceKey}/source-types/{sourceTypeKey}/source-events": {
      "get": {
        "description": "List source events for a source type",
        "operationId": "Catalog Resource Get Source Events",
        "parameters": [
          {
            "in": "path",
            "name": "sourceKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "sourceTypeKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "source_events": {
                      "items": {
                        "properties": {
                          "description": {
                            "type": "string"
                          },
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "key",
                          "name"
                        ],
                        "title": "SourceEvent",
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "title": "SourceEventResponse",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Catalog"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "012ab8b9d61fb732db26a7ac4cb9e7a3b4a6b5b339be8ef1b3403200703d54c3",
          "chunk_id": 37172,
          "chunk_url": "https://automate.zscaler.com/assets/js/7abe4563.60d7876f.js",
          "module": 47477
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "GET",
            "name": "List source events for a source type",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "catalog",
                "sources",
                ":sourceKey",
                "source-types",
                ":sourceTypeKey",
                "source-events"
              ],
              "query": [],
              "variable": [
                {
                  "description": {
                    "content": "(Required) ",
                    "type": "text/plain"
                  },
                  "disabled": false,
                  "key": "sourceKey",
                  "type": "any",
                  "value": ""
                },
                {
                  "description": {
                    "content": "(Required) ",
                    "type": "text/plain"
                  },
                  "disabled": false,
                  "key": "sourceTypeKey",
                  "type": "any",
                  "value": ""
                }
              ]
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-catalog/catalog-resource-get-source-events",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-catalog/catalog-resource-get-source-events"
      }
    },
    "/subscriptions": {
      "get": {
        "description": "List subscriptions",
        "operationId": "Subscription Resource Get Subscriptions",
        "parameters": [
          {
            "explode": false,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "explode": false,
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 10,
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "subscriptions": {
                      "items": {
                        "properties": {
                          "channels": {
                            "items": {
                              "properties": {
                                "email": {
                                  "properties": {
                                    "bcc": {
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": "array"
                                    },
                                    "cc": {
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": "array"
                                    },
                                    "to": {
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": "array"
                                    }
                                  },
                                  "title": "Email",
                                  "type": "object"
                                },
                                "type": {
                                  "enum": [
                                    "email",
                                    "webhook"
                                  ],
                                  "title": "TypeEnum",
                                  "type": "string"
                                },
                                "webhook_url": {
                                  "pattern": "^https?://.+$",
                                  "type": "string"
                                }
                              },
                              "title": "Channel",
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "description": {
                            "type": "string"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "scope": {
                            "properties": {
                              "source_event_key": {
                                "type": "string"
                              },
                              "source_key": {
                                "type": "string"
                              },
                              "source_type_key": {
                                "type": "string"
                              }
                            },
                            "title": "Scope",
                            "type": "object"
                          },
                          "zia_tenant_id": {
                            "type": "string"
                          },
                          "zpa_tenant_id": {
                            "type": "string"
                          }
                        },
                        "title": "Subscription",
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "title": "SubscriptionResponse",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Subscriptions handling"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "154486858defb0ecfd24d937d7135c8c40cae5cd86252b35cac930d9b9056451",
          "chunk_id": 31681,
          "chunk_url": "https://automate.zscaler.com/assets/js/a3df0134.c7f4918d.js",
          "module": 45188
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "GET",
            "name": "List subscriptions",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "subscriptions"
              ],
              "query": [
                {
                  "disabled": false,
                  "key": "page",
                  "value": ""
                },
                {
                  "disabled": false,
                  "key": "pageSize",
                  "value": ""
                }
              ],
              "variable": []
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-subscriptions-handling/subscription-resource-get-subscriptions",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-subscriptions-handling/subscription-resource-get-subscriptions"
      },
      "post": {
        "description": "Create a subscription",
        "operationId": "Subscription Resource Create Subscription",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "channels": {
                    "items": {
                      "properties": {
                        "email": {
                          "properties": {
                            "bcc": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "cc": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "to": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            }
                          },
                          "title": "Email",
                          "type": "object"
                        },
                        "type": {
                          "enum": [
                            "email",
                            "webhook"
                          ],
                          "title": "TypeEnum",
                          "type": "string"
                        },
                        "webhook_url": {
                          "pattern": "^https?://.+$",
                          "type": "string"
                        }
                      },
                      "title": "Channel",
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "description": {
                    "type": "string"
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string"
                  },
                  "scope": {
                    "properties": {
                      "source_event_key": {
                        "type": "string"
                      },
                      "source_key": {
                        "type": "string"
                      },
                      "source_type_key": {
                        "type": "string"
                      }
                    },
                    "title": "Scope",
                    "type": "object"
                  }
                },
                "required": [
                  "name",
                  "scope",
                  "channels",
                  "enabled"
                ],
                "title": "SubscriptionRequest",
                "type": "object"
              }
            }
          },
          "description": "The body type of the operation request or response.",
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "channels": {
                      "items": {
                        "properties": {
                          "email": {
                            "properties": {
                              "bcc": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "cc": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "to": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              }
                            },
                            "title": "Email",
                            "type": "object"
                          },
                          "type": {
                            "enum": [
                              "email",
                              "webhook"
                            ],
                            "title": "TypeEnum",
                            "type": "string"
                          },
                          "webhook_url": {
                            "pattern": "^https?://.+$",
                            "type": "string"
                          }
                        },
                        "title": "Channel",
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "description": {
                      "type": "string"
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "scope": {
                      "properties": {
                        "source_event_key": {
                          "type": "string"
                        },
                        "source_key": {
                          "type": "string"
                        },
                        "source_type_key": {
                          "type": "string"
                        }
                      },
                      "title": "Scope",
                      "type": "object"
                    },
                    "zia_tenant_id": {
                      "type": "string"
                    },
                    "zpa_tenant_id": {
                      "type": "string"
                    }
                  },
                  "title": "Subscription",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded and a new resource has been created as a result."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "channels": {
                      "items": {
                        "properties": {
                          "email": {
                            "properties": {
                              "bcc": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "cc": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "to": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              }
                            },
                            "title": "Email",
                            "type": "object"
                          },
                          "type": {
                            "enum": [
                              "email",
                              "webhook"
                            ],
                            "title": "TypeEnum",
                            "type": "string"
                          },
                          "webhook_url": {
                            "pattern": "^https?://.+$",
                            "type": "string"
                          }
                        },
                        "title": "Channel",
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "description": {
                      "type": "string"
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "scope": {
                      "properties": {
                        "source_event_key": {
                          "type": "string"
                        },
                        "source_key": {
                          "type": "string"
                        },
                        "source_type_key": {
                          "type": "string"
                        }
                      },
                      "title": "Scope",
                      "type": "object"
                    },
                    "zia_tenant_id": {
                      "type": "string"
                    },
                    "zpa_tenant_id": {
                      "type": "string"
                    }
                  },
                  "title": "Subscription",
                  "type": "object"
                }
              }
            },
            "description": "The request has been accepted for processing, but processing has not yet completed."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "VALIDATION_ERROR"
                      ],
                      "type": "string"
                    },
                    "details": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "title": "Zscaler.Core.ValidationError",
                  "type": "object"
                }
              }
            },
            "description": "The server could not understand the request due to invalid syntax."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Subscriptions handling"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "617145be8ac7a33d808a8e27472bae80d035fa2df6777826555e5429f85d3e43",
          "chunk_id": 68308,
          "chunk_url": "https://automate.zscaler.com/assets/js/d17ca128.e90fbcdf.js",
          "module": 50055
        },
        "x-zscaler-docusaurus-extras": {
          "jsonRequestBodyExample": {
            "channels": [
              {
                "email": {
                  "bcc": [
                    "string"
                  ],
                  "cc": [
                    "string"
                  ],
                  "to": [
                    "string"
                  ]
                },
                "type": "email",
                "webhook_url": "string"
              }
            ],
            "description": "string",
            "enabled": true,
            "name": "string",
            "scope": {
              "source_event_key": "string",
              "source_key": "string",
              "source_type_key": "string"
            }
          },
          "postman": {
            "body": {
              "mode": "raw",
              "options": {
                "raw": {
                  "language": "json"
                }
              },
              "raw": ""
            },
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Content-Type",
                "value": "application/json"
              },
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "POST",
            "name": "Create a subscription",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "subscriptions"
              ],
              "query": [],
              "variable": []
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-subscriptions-handling/subscription-resource-create-subscription",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-subscriptions-handling/subscription-resource-create-subscription"
      }
    },
    "/subscriptions/{subscriptionId}": {
      "delete": {
        "description": "Delete a subscription",
        "operationId": "Subscription Resource Delete Subscription",
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "VALIDATION_ERROR"
                      ],
                      "type": "string"
                    },
                    "details": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "title": "Zscaler.Core.ValidationError",
                  "type": "object"
                }
              }
            },
            "description": "The server could not understand the request due to invalid syntax."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Subscriptions handling"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "5e43a0ca7f882c6d8d039d0c803fa0aba15ec51434794b140dcc2914227502cd",
          "chunk_id": 13578,
          "chunk_url": "https://automate.zscaler.com/assets/js/0c12be71.62736067.js",
          "module": 36751
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "DELETE",
            "name": "Delete a subscription",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "subscriptions",
                ":subscriptionId"
              ],
              "query": [],
              "variable": [
                {
                  "description": {
                    "content": "(Required) ",
                    "type": "text/plain"
                  },
                  "disabled": false,
                  "key": "subscriptionId",
                  "type": "any",
                  "value": ""
                }
              ]
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-subscriptions-handling/subscription-resource-delete-subscription",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-subscriptions-handling/subscription-resource-delete-subscription"
      },
      "get": {
        "description": "Get a subscription by ID",
        "operationId": "Subscription Resource Get Subscription",
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "channels": {
                      "items": {
                        "properties": {
                          "email": {
                            "properties": {
                              "bcc": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "cc": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "to": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              }
                            },
                            "title": "Email",
                            "type": "object"
                          },
                          "type": {
                            "enum": [
                              "email",
                              "webhook"
                            ],
                            "title": "TypeEnum",
                            "type": "string"
                          },
                          "webhook_url": {
                            "pattern": "^https?://.+$",
                            "type": "string"
                          }
                        },
                        "title": "Channel",
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "description": {
                      "type": "string"
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "scope": {
                      "properties": {
                        "source_event_key": {
                          "type": "string"
                        },
                        "source_key": {
                          "type": "string"
                        },
                        "source_type_key": {
                          "type": "string"
                        }
                      },
                      "title": "Scope",
                      "type": "object"
                    },
                    "zia_tenant_id": {
                      "type": "string"
                    },
                    "zpa_tenant_id": {
                      "type": "string"
                    }
                  },
                  "title": "Subscription",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Subscriptions handling"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "28f66d9d79f0a7028954458e09846ffe496d0b0a80851fdff002d1af4a835fa0",
          "chunk_id": 3860,
          "chunk_url": "https://automate.zscaler.com/assets/js/d7dbee13.c044028f.js",
          "module": 94042
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "GET",
            "name": "Get a subscription by ID",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "subscriptions",
                ":subscriptionId"
              ],
              "query": [],
              "variable": [
                {
                  "description": {
                    "content": "(Required) ",
                    "type": "text/plain"
                  },
                  "disabled": false,
                  "key": "subscriptionId",
                  "type": "any",
                  "value": ""
                }
              ]
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-subscriptions-handling/subscription-resource-get-subscription",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-subscriptions-handling/subscription-resource-get-subscription"
      },
      "put": {
        "description": "Update a subscription",
        "operationId": "Subscription Resource Update Subscription",
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "channels": {
                    "items": {
                      "properties": {
                        "email": {
                          "properties": {
                            "bcc": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "cc": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "to": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            }
                          },
                          "title": "Email",
                          "type": "object"
                        },
                        "type": {
                          "enum": [
                            "email",
                            "webhook"
                          ],
                          "title": "TypeEnum",
                          "type": "string"
                        },
                        "webhook_url": {
                          "pattern": "^https?://.+$",
                          "type": "string"
                        }
                      },
                      "title": "Channel",
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "description": {
                    "type": "string"
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string"
                  },
                  "scope": {
                    "properties": {
                      "source_event_key": {
                        "type": "string"
                      },
                      "source_key": {
                        "type": "string"
                      },
                      "source_type_key": {
                        "type": "string"
                      }
                    },
                    "title": "Scope",
                    "type": "object"
                  }
                },
                "required": [
                  "name",
                  "scope",
                  "channels",
                  "enabled"
                ],
                "title": "SubscriptionRequest",
                "type": "object"
              }
            }
          },
          "description": "The body type of the operation request or response.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "channels": {
                      "items": {
                        "properties": {
                          "email": {
                            "properties": {
                              "bcc": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "cc": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "to": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              }
                            },
                            "title": "Email",
                            "type": "object"
                          },
                          "type": {
                            "enum": [
                              "email",
                              "webhook"
                            ],
                            "title": "TypeEnum",
                            "type": "string"
                          },
                          "webhook_url": {
                            "pattern": "^https?://.+$",
                            "type": "string"
                          }
                        },
                        "title": "Channel",
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "description": {
                      "type": "string"
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "scope": {
                      "properties": {
                        "source_event_key": {
                          "type": "string"
                        },
                        "source_key": {
                          "type": "string"
                        },
                        "source_type_key": {
                          "type": "string"
                        }
                      },
                      "title": "Scope",
                      "type": "object"
                    },
                    "zia_tenant_id": {
                      "type": "string"
                    },
                    "zpa_tenant_id": {
                      "type": "string"
                    }
                  },
                  "title": "Subscription",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "VALIDATION_ERROR"
                      ],
                      "type": "string"
                    },
                    "details": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "title": "Zscaler.Core.ValidationError",
                  "type": "object"
                }
              }
            },
            "description": "The server could not understand the request due to invalid syntax."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Subscriptions handling"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "eb755b2c577293467ab23c66c4b71697325302f68be10deabc6e5b63d080a7a4",
          "chunk_id": 7744,
          "chunk_url": "https://automate.zscaler.com/assets/js/d88f409f.ab0034d2.js",
          "module": 11297
        },
        "x-zscaler-docusaurus-extras": {
          "jsonRequestBodyExample": {
            "channels": [
              {
                "email": {
                  "bcc": [
                    "string"
                  ],
                  "cc": [
                    "string"
                  ],
                  "to": [
                    "string"
                  ]
                },
                "type": "email",
                "webhook_url": "string"
              }
            ],
            "description": "string",
            "enabled": true,
            "name": "string",
            "scope": {
              "source_event_key": "string",
              "source_key": "string",
              "source_type_key": "string"
            }
          },
          "postman": {
            "body": {
              "mode": "raw",
              "options": {
                "raw": {
                  "language": "json"
                }
              },
              "raw": ""
            },
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Content-Type",
                "value": "application/json"
              },
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "PUT",
            "name": "Update a subscription",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "subscriptions",
                ":subscriptionId"
              ],
              "query": [],
              "variable": [
                {
                  "description": {
                    "content": "(Required) ",
                    "type": "text/plain"
                  },
                  "disabled": false,
                  "key": "subscriptionId",
                  "type": "any",
                  "value": ""
                }
              ]
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-subscriptions-handling/subscription-resource-update-subscription",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-subscriptions-handling/subscription-resource-update-subscription"
      }
    }
  },
  "servers": [
    {
      "description": "Event Monitoring & Notification API",
      "url": "https://api.zsapi.net/event-monitoring",
      "variables": {}
    }
  ],
  "x-zscaler-source": {
    "kind": "automate-docusaurus-blobs",
    "operation_count": 10,
    "product": "event-monitoring"
  }
}
