{
  "components": {
    "securitySchemes": {
      "Bearer": {
        "scheme": "bearer",
        "type": "http"
      },
      "BearerAuth": {
        "scheme": "bearer",
        "type": "http"
      },
      "bearerAuth": {
        "scheme": "bearer",
        "type": "http"
      }
    }
  },
  "info": {
    "description": "API Reference Guide for the Event Monitoring & Notification API",
    "title": "Event Monitoring & Notification API",
    "version": "docusaurus-blob-snapshot"
  },
  "openapi": "3.0.3",
  "paths": {
    "/catalog/sources": {
      "get": {
        "description": "List all sources",
        "operationId": "Catalog Resource Get All Sources",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "sources": {
                      "items": {
                        "properties": {
                          "_links": {
                            "title": "SourceCatalogItemResponse_links",
                            "type": "object"
                          },
                          "description": {
                            "type": "string"
                          },
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "title": "SourceCatalogItemResponse",
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "title": "SourceResponse",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Catalog"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "29f5ca66b44d236ea5a4952fddd4ee122c522808abfabc9f9a4da51e46768fa5",
          "chunk_id": 42948,
          "chunk_url": "https://automate.zscaler.com/assets/js/086a3690.65caecd0.js",
          "module": 76516
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "GET",
            "name": "List all sources",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "catalog",
                "sources"
              ],
              "query": [],
              "variable": []
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-catalog/catalog-resource-get-all-sources",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-catalog/catalog-resource-get-all-sources"
      }
    },
    "/catalog/sources/{sourceKey}": {
      "get": {
        "description": "Get a source by key",
        "operationId": "Catalog Resource Get Source",
        "parameters": [
          {
            "in": "path",
            "name": "sourceKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_links": {
                      "title": "SourceCatalogItemResponse_links",
                      "type": "object"
                    },
                    "description": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "title": "SourceCatalogItemResponse",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Catalog"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "d2a4c1876abef87a50d2229a7150464809bb057eee6e44e5a0f5e032575c777c",
          "chunk_id": 46703,
          "chunk_url": "https://automate.zscaler.com/assets/js/6a7ce90c.8690fd40.js",
          "module": 90111
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "GET",
            "name": "Get a source by key",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "catalog",
                "sources",
                ":sourceKey"
              ],
              "query": [],
              "variable": [
                {
                  "description": {
                    "content": "(Required) ",
                    "type": "text/plain"
                  },
                  "disabled": false,
                  "key": "sourceKey",
                  "type": "any",
                  "value": ""
                }
              ]
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-catalog/catalog-resource-get-source",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-catalog/catalog-resource-get-source"
      }
    },
    "/catalog/sources/{sourceKey}/source-types": {
      "get": {
        "description": "List source types for a source",
        "operationId": "Catalog Resource Get Source Types",
        "parameters": [
          {
            "in": "path",
            "name": "sourceKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "source_types": {
                      "items": {
                        "properties": {
                          "_links": {
                            "title": "SourceTypeCatalogItemResponse_links",
                            "type": "object"
                          },
                          "description": {
                            "type": "string"
                          },
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "title": "SourceTypeCatalogItemResponse",
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "title": "SourceTypeResponse",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Catalog"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "04cf6812b3d01cd867e856deb5ef71edaa8efc0355439ee34b7cf988916fe84d",
          "chunk_id": 75213,
          "chunk_url": "https://automate.zscaler.com/assets/js/548e668d.2291b244.js",
          "module": 39043
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "GET",
            "name": "List source types for a source",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "catalog",
                "sources",
                ":sourceKey",
                "source-types"
              ],
              "query": [],
              "variable": [
                {
                  "description": {
                    "content": "(Required) ",
                    "type": "text/plain"
                  },
                  "disabled": false,
                  "key": "sourceKey",
                  "type": "any",
                  "value": ""
                }
              ]
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-catalog/catalog-resource-get-source-types",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-catalog/catalog-resource-get-source-types"
      }
    },
    "/catalog/sources/{sourceKey}/source-types/{sourceTypeKey}": {
      "get": {
        "description": "Get a specific source type",
        "operationId": "Catalog Resource Get Source Type",
        "parameters": [
          {
            "in": "path",
            "name": "sourceKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "sourceTypeKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_links": {
                      "title": "SourceTypeCatalogItemResponse_links",
                      "type": "object"
                    },
                    "description": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "title": "SourceTypeCatalogItemResponse",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Catalog"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "0aed6d2d632e0a9aeaa73ecaec7aa9907d228c95e765f6f781e336f786ddab42",
          "chunk_id": 38912,
          "chunk_url": "https://automate.zscaler.com/assets/js/2f8e999c.6190a3b7.js",
          "module": 1606
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "GET",
            "name": "Get a specific source type",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "catalog",
                "sources",
                ":sourceKey",
                "source-types",
                ":sourceTypeKey"
              ],
              "query": [],
              "variable": [
                {
                  "description": {
                    "content": "(Required) ",
                    "type": "text/plain"
                  },
                  "disabled": false,
                  "key": "sourceKey",
                  "type": "any",
                  "value": ""
                },
                {
                  "description": {
                    "content": "(Required) ",
                    "type": "text/plain"
                  },
                  "disabled": false,
                  "key": "sourceTypeKey",
                  "type": "any",
                  "value": ""
                }
              ]
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-catalog/catalog-resource-get-source-type",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-catalog/catalog-resource-get-source-type"
      }
    },
    "/catalog/sources/{sourceKey}/source-types/{sourceTypeKey}/source-events": {
      "get": {
        "description": "List source events for a source type",
        "operationId": "Catalog Resource Get Source Events",
        "parameters": [
          {
            "in": "path",
            "name": "sourceKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "sourceTypeKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "source_events": {
                      "items": {
                        "properties": {
                          "description": {
                            "type": "string"
                          },
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "key",
                          "name"
                        ],
                        "title": "SourceEvent",
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "title": "SourceEventResponse",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Catalog"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "012ab8b9d61fb732db26a7ac4cb9e7a3b4a6b5b339be8ef1b3403200703d54c3",
          "chunk_id": 37172,
          "chunk_url": "https://automate.zscaler.com/assets/js/7abe4563.60d7876f.js",
          "module": 47477
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "GET",
            "name": "List source events for a source type",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "catalog",
                "sources",
                ":sourceKey",
                "source-types",
                ":sourceTypeKey",
                "source-events"
              ],
              "query": [],
              "variable": [
                {
                  "description": {
                    "content": "(Required) ",
                    "type": "text/plain"
                  },
                  "disabled": false,
                  "key": "sourceKey",
                  "type": "any",
                  "value": ""
                },
                {
                  "description": {
                    "content": "(Required) ",
                    "type": "text/plain"
                  },
                  "disabled": false,
                  "key": "sourceTypeKey",
                  "type": "any",
                  "value": ""
                }
              ]
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-catalog/catalog-resource-get-source-events",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-catalog/catalog-resource-get-source-events"
      }
    },
    "/subscriptions": {
      "get": {
        "description": "List subscriptions",
        "operationId": "Subscription Resource Get Subscriptions",
        "parameters": [
          {
            "explode": false,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "explode": false,
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 10,
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "subscriptions": {
                      "items": {
                        "properties": {
                          "_links": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          },
                          "channels": {
                            "items": {
                              "properties": {
                                "email": {
                                  "properties": {
                                    "bcc": {
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": "array"
                                    },
                                    "cc": {
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": "array"
                                    },
                                    "to": {
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": "array"
                                    }
                                  },
                                  "title": "Email",
                                  "type": "object"
                                },
                                "region": {
                                  "description": "AWS region of the SNS topic. If omitted, inferred from topic_arn.",
                                  "type": "string"
                                },
                                "topic_arn": {
                                  "description": "Full AWS SNS topic ARN. Required when type is sns.",
                                  "pattern": "^arn:aws:sns:[a-z0-9-]+:\\d{12}:[A-Za-z0-9_-]{1,256}(\\.fifo)?$",
                                  "type": "string"
                                },
                                "type": {
                                  "enum": [
                                    "email",
                                    "webhook",
                                    "sns"
                                  ],
                                  "title": "TypeEnum",
                                  "type": "string"
                                },
                                "webhook_url": {
                                  "pattern": "^https?://.+$",
                                  "type": "string"
                                }
                              },
                              "title": "Channel",
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "description": {
                            "type": "string"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "scope": {
                            "properties": {
                              "source_event_key": {
                                "type": "string"
                              },
                              "source_key": {
                                "type": "string"
                              },
                              "source_type_key": {
                                "type": "string"
                              }
                            },
                            "title": "Scope",
                            "type": "object"
                          },
                          "zia_tenant_id": {
                            "type": "string"
                          },
                          "zpa_tenant_id": {
                            "type": "string"
                          }
                        },
                        "title": "Subscription",
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "title": "SubscriptionResponse",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Subscriptions"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "ad27d1bf364e057b551b5a6514b63b0023e47bc5ed2f45d8d742bcc1c4d5e96b",
          "chunk_id": 33267,
          "chunk_url": "https://automate.zscaler.com/assets/js/4b1178ef.38d0e19d.js",
          "module": 56269
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "GET",
            "name": "List subscriptions",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "subscriptions"
              ],
              "query": [
                {
                  "disabled": false,
                  "key": "page",
                  "value": ""
                },
                {
                  "disabled": false,
                  "key": "pageSize",
                  "value": ""
                }
              ],
              "variable": []
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-subscriptions/subscription-resource-get-subscriptions",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-subscriptions/subscription-resource-get-subscriptions"
      },
      "post": {
        "description": "Create a subscription",
        "operationId": "Subscription Resource Create Subscription",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "channels": {
                    "items": {
                      "properties": {
                        "email": {
                          "properties": {
                            "bcc": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "cc": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "to": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            }
                          },
                          "title": "Email",
                          "type": "object"
                        },
                        "region": {
                          "description": "AWS region of the SNS topic. If omitted, inferred from topic_arn.",
                          "type": "string"
                        },
                        "topic_arn": {
                          "description": "Full AWS SNS topic ARN. Required when type is sns.",
                          "pattern": "^arn:aws:sns:[a-z0-9-]+:\\d{12}:[A-Za-z0-9_-]{1,256}(\\.fifo)?$",
                          "type": "string"
                        },
                        "type": {
                          "enum": [
                            "email",
                            "webhook",
                            "sns"
                          ],
                          "title": "TypeEnum",
                          "type": "string"
                        },
                        "webhook_url": {
                          "pattern": "^https?://.+$",
                          "type": "string"
                        }
                      },
                      "title": "Channel",
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "description": {
                    "type": "string"
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string"
                  },
                  "scope": {
                    "properties": {
                      "source_event_key": {
                        "type": "string"
                      },
                      "source_key": {
                        "type": "string"
                      },
                      "source_type_key": {
                        "type": "string"
                      }
                    },
                    "title": "Scope",
                    "type": "object"
                  }
                },
                "required": [
                  "name",
                  "scope",
                  "channels",
                  "enabled"
                ],
                "title": "SubscriptionRequest",
                "type": "object"
              }
            }
          },
          "description": "The body type of the operation request or response.",
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_links": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "type": "object"
                    },
                    "channels": {
                      "items": {
                        "properties": {
                          "email": {
                            "properties": {
                              "bcc": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "cc": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "to": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              }
                            },
                            "title": "Email",
                            "type": "object"
                          },
                          "region": {
                            "description": "AWS region of the SNS topic. If omitted, inferred from topic_arn.",
                            "type": "string"
                          },
                          "topic_arn": {
                            "description": "Full AWS SNS topic ARN. Required when type is sns.",
                            "pattern": "^arn:aws:sns:[a-z0-9-]+:\\d{12}:[A-Za-z0-9_-]{1,256}(\\.fifo)?$",
                            "type": "string"
                          },
                          "type": {
                            "enum": [
                              "email",
                              "webhook",
                              "sns"
                            ],
                            "title": "TypeEnum",
                            "type": "string"
                          },
                          "webhook_url": {
                            "pattern": "^https?://.+$",
                            "type": "string"
                          }
                        },
                        "title": "Channel",
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "description": {
                      "type": "string"
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "scope": {
                      "properties": {
                        "source_event_key": {
                          "type": "string"
                        },
                        "source_key": {
                          "type": "string"
                        },
                        "source_type_key": {
                          "type": "string"
                        }
                      },
                      "title": "Scope",
                      "type": "object"
                    },
                    "zia_tenant_id": {
                      "type": "string"
                    },
                    "zpa_tenant_id": {
                      "type": "string"
                    }
                  },
                  "title": "Subscription",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded and a new resource has been created as a result."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_links": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "type": "object"
                    },
                    "channels": {
                      "items": {
                        "properties": {
                          "email": {
                            "properties": {
                              "bcc": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "cc": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "to": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              }
                            },
                            "title": "Email",
                            "type": "object"
                          },
                          "region": {
                            "description": "AWS region of the SNS topic. If omitted, inferred from topic_arn.",
                            "type": "string"
                          },
                          "topic_arn": {
                            "description": "Full AWS SNS topic ARN. Required when type is sns.",
                            "pattern": "^arn:aws:sns:[a-z0-9-]+:\\d{12}:[A-Za-z0-9_-]{1,256}(\\.fifo)?$",
                            "type": "string"
                          },
                          "type": {
                            "enum": [
                              "email",
                              "webhook",
                              "sns"
                            ],
                            "title": "TypeEnum",
                            "type": "string"
                          },
                          "webhook_url": {
                            "pattern": "^https?://.+$",
                            "type": "string"
                          }
                        },
                        "title": "Channel",
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "description": {
                      "type": "string"
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "scope": {
                      "properties": {
                        "source_event_key": {
                          "type": "string"
                        },
                        "source_key": {
                          "type": "string"
                        },
                        "source_type_key": {
                          "type": "string"
                        }
                      },
                      "title": "Scope",
                      "type": "object"
                    },
                    "zia_tenant_id": {
                      "type": "string"
                    },
                    "zpa_tenant_id": {
                      "type": "string"
                    }
                  },
                  "title": "Subscription",
                  "type": "object"
                }
              }
            },
            "description": "The request has been accepted for processing, but processing has not yet completed."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "VALIDATION_ERROR"
                      ],
                      "type": "string"
                    },
                    "details": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "title": "Zscaler.Core.ValidationError",
                  "type": "object"
                }
              }
            },
            "description": "The server could not understand the request due to invalid syntax."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Subscriptions"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "e701bd85212f102d48b2132e3a84d1e80a2710bfb0b57fbc4b3ccf05681c0098",
          "chunk_id": 8993,
          "chunk_url": "https://automate.zscaler.com/assets/js/6d7b5044.0b6bb110.js",
          "module": 86614
        },
        "x-zscaler-docusaurus-extras": {
          "jsonRequestBodyExample": {
            "channels": [
              {
                "email": {
                  "bcc": [
                    "string"
                  ],
                  "cc": [
                    "string"
                  ],
                  "to": [
                    "string"
                  ]
                },
                "region": "string",
                "topic_arn": "string",
                "type": "email",
                "webhook_url": "string"
              }
            ],
            "description": "string",
            "enabled": true,
            "name": "string",
            "scope": {
              "source_event_key": "string",
              "source_key": "string",
              "source_type_key": "string"
            }
          },
          "postman": {
            "body": {
              "mode": "raw",
              "options": {
                "raw": {
                  "language": "json"
                }
              },
              "raw": ""
            },
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Content-Type",
                "value": "application/json"
              },
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "POST",
            "name": "Create a subscription",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "subscriptions"
              ],
              "query": [],
              "variable": []
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-subscriptions/subscription-resource-create-subscription",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-subscriptions/subscription-resource-create-subscription"
      }
    },
    "/subscriptions/channels": {
      "get": {
        "description": "List all available notification channel types",
        "operationId": "Subscription Resource List Channels",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "List of available notification channel types.",
                  "properties": {
                    "channels": {
                      "items": {
                        "description": "Describes a single notification channel type.",
                        "properties": {
                          "_links": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "description": "HATEOAS navigation links.",
                            "type": "object"
                          },
                          "description": {
                            "description": "Human-readable description of the channel.",
                            "type": "string"
                          },
                          "required_fields": {
                            "description": "Fields the caller must provide when using this channel type.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "setup_required": {
                            "description": "Whether additional setup is required before using this channel.",
                            "type": "boolean"
                          },
                          "type": {
                            "description": "Channel type identifier (e.g. email, webhook, sns).",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "description",
                          "setup_required"
                        ],
                        "title": "ChannelTypeResponse",
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "channels"
                  ],
                  "title": "ChannelsResponse",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Subscriptions"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "d1c44c76e8cfbd3cb7de272b669770ef385a039b22846c4f0fe4959c163eafc1",
          "chunk_id": 55988,
          "chunk_url": "https://automate.zscaler.com/assets/js/22197be5.14bbfa95.js",
          "module": 46004
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "GET",
            "name": "List all available notification channel types",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "subscriptions",
                "channels"
              ],
              "query": [],
              "variable": []
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-subscriptions/subscription-resource-list-channels",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-subscriptions/subscription-resource-list-channels"
      }
    },
    "/subscriptions/channels/email": {
      "get": {
        "description": "Get email channel details",
        "operationId": "Subscription Resource Get Email Channel",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Describes a single notification channel type.",
                  "properties": {
                    "_links": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "HATEOAS navigation links.",
                      "type": "object"
                    },
                    "description": {
                      "description": "Human-readable description of the channel.",
                      "type": "string"
                    },
                    "required_fields": {
                      "description": "Fields the caller must provide when using this channel type.",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "setup_required": {
                      "description": "Whether additional setup is required before using this channel.",
                      "type": "boolean"
                    },
                    "type": {
                      "description": "Channel type identifier (e.g. email, webhook, sns).",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "description",
                    "setup_required"
                  ],
                  "title": "ChannelTypeResponse",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Subscriptions"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "15bc1153443adf71325383675aa9d7056962ba7eeb822905c9d24bf116ac88a5",
          "chunk_id": 57511,
          "chunk_url": "https://automate.zscaler.com/assets/js/a4b8a608.abaf5827.js",
          "module": 82241
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "GET",
            "name": "Get email channel details",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "subscriptions",
                "channels",
                "email"
              ],
              "query": [],
              "variable": []
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-subscriptions/subscription-resource-get-email-channel",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-subscriptions/subscription-resource-get-email-channel"
      }
    },
    "/subscriptions/channels/sns": {
      "get": {
        "description": "Returns the Zscaler IAM role ARN, required permissions, and a ready-to-use SNS topic policy template.",
        "operationId": "Subscription Resource Get Sns Channel",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "SNS channel setup details including Zscaler IAM role and topic policy template.",
                  "properties": {
                    "_links": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "HATEOAS navigation links.",
                      "type": "object"
                    },
                    "description": {
                      "description": "Human-readable description of the channel.",
                      "type": "string"
                    },
                    "required_permissions": {
                      "description": "IAM permissions the Zscaler role requires on the customer topic.",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "setup_required": {
                      "description": "Whether additional setup is required before using this channel.",
                      "type": "boolean"
                    },
                    "sns_topic_policy_template": {
                      "additionalProperties": {},
                      "description": "Ready-to-use SNS topic policy template. Replace <customer_topic_arn> with your topic ARN.",
                      "type": "object"
                    },
                    "type": {
                      "description": "Channel type identifier.",
                      "type": "string"
                    },
                    "zscaler_role_arn": {
                      "description": "Zscaler IAM role ARN that will publish to customer SNS topics.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "description",
                    "setup_required",
                    "zscaler_role_arn",
                    "required_permissions",
                    "sns_topic_policy_template"
                  ],
                  "title": "SnsChannelDetailResponse",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Subscriptions"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "b75d5cdafdb7383c7ef9f79d6c8c3be03e78743b68dc3e1f8665df240c0372e9",
          "chunk_id": 97112,
          "chunk_url": "https://automate.zscaler.com/assets/js/99cad944.ce428d75.js",
          "module": 99205
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "content": "Returns the Zscaler IAM role ARN, required permissions, and a ready-to-use SNS topic policy template.",
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "GET",
            "name": "Get SNS channel setup requirements",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "subscriptions",
                "channels",
                "sns"
              ],
              "query": [],
              "variable": []
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-subscriptions/subscription-resource-get-sns-channel",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-subscriptions/subscription-resource-get-sns-channel"
      }
    },
    "/subscriptions/channels/sns/verify": {
      "post": {
        "description": "Tests whether Zscaler can call sns:GetTopicAttributes on the provided topic. This is a read-only check.",
        "operationId": "Subscription Resource Verify Sns Topic Access",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Request body for verifying Zscaler publish access to a customer SNS topic.",
                "properties": {
                  "region": {
                    "description": "AWS region of the topic. If omitted, region is inferred from the ARN.",
                    "type": "string"
                  },
                  "topic_arn": {
                    "description": "Full AWS SNS topic ARN.",
                    "pattern": "^arn:aws:sns:[a-z0-9-]+:\\d{12}:[A-Za-z0-9_-]{1,256}(\\.fifo)?$",
                    "type": "string"
                  }
                },
                "required": [
                  "topic_arn"
                ],
                "title": "SnsVerifyRequest",
                "type": "object"
              }
            }
          },
          "description": "The body type of the operation request or response.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response from SNS topic verification.",
                  "properties": {
                    "error": {
                      "description": "Error description (present on failure).",
                      "type": "string"
                    },
                    "message_sent": {
                      "description": "Test message sent during verification (present on success).",
                      "type": "string"
                    },
                    "topic_arn": {
                      "description": "The topic ARN that was verified.",
                      "type": "string"
                    },
                    "verified": {
                      "description": "Whether verification succeeded.",
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "verified",
                    "topic_arn"
                  ],
                  "title": "SnsVerifyResponse",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "VALIDATION_ERROR"
                      ],
                      "type": "string"
                    },
                    "details": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "title": "Zscaler.Core.ValidationError",
                  "type": "object"
                }
              }
            },
            "description": "The server could not understand the request due to invalid syntax."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Subscriptions"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "10e020b66b3875af3e451794600eab286d586febe1072f7ac2e9e90f67767e57",
          "chunk_id": 55802,
          "chunk_url": "https://automate.zscaler.com/assets/js/ae85ee66.1b7cb00a.js",
          "module": 96377
        },
        "x-zscaler-docusaurus-extras": {
          "jsonRequestBodyExample": {
            "region": "string",
            "topic_arn": "string"
          },
          "postman": {
            "body": {
              "mode": "raw",
              "options": {
                "raw": {
                  "language": "json"
                }
              },
              "raw": ""
            },
            "description": {
              "content": "Tests whether Zscaler can call sns:GetTopicAttributes on the provided topic. This is a read-only check.",
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Content-Type",
                "value": "application/json"
              },
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "POST",
            "name": "Verify Zscaler can publish to an SNS topic",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "subscriptions",
                "channels",
                "sns",
                "verify"
              ],
              "query": [],
              "variable": []
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-subscriptions/subscription-resource-verify-sns-topic-access",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-subscriptions/subscription-resource-verify-sns-topic-access"
      }
    },
    "/subscriptions/channels/webhook": {
      "get": {
        "description": "Get webhook channel details",
        "operationId": "Subscription Resource Get Webhook Channel",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Describes a single notification channel type.",
                  "properties": {
                    "_links": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "HATEOAS navigation links.",
                      "type": "object"
                    },
                    "description": {
                      "description": "Human-readable description of the channel.",
                      "type": "string"
                    },
                    "required_fields": {
                      "description": "Fields the caller must provide when using this channel type.",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "setup_required": {
                      "description": "Whether additional setup is required before using this channel.",
                      "type": "boolean"
                    },
                    "type": {
                      "description": "Channel type identifier (e.g. email, webhook, sns).",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "description",
                    "setup_required"
                  ],
                  "title": "ChannelTypeResponse",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "NOT_FOUND"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.NotFoundError",
                  "type": "object"
                }
              }
            },
            "description": "The server cannot find the requested resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Subscriptions"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "e6b94c1b4ba129a55d0393920bb47e687ef66cf5def6f7cb06c4c21af64096b3",
          "chunk_id": 44197,
          "chunk_url": "https://automate.zscaler.com/assets/js/82af8dd1.c663ec7f.js",
          "module": 41378
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "GET",
            "name": "Get webhook channel details",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "subscriptions",
                "channels",
                "webhook"
              ],
              "query": [],
              "variable": []
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-subscriptions/subscription-resource-get-webhook-channel",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-subscriptions/subscription-resource-get-webhook-channel"
      }
    },
    "/subscriptions/{subscriptionId}": {
      "delete": {
        "description": "Delete a subscription",
        "operationId": "Subscription Resource Delete Subscription",
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "VALIDATION_ERROR"
                      ],
                      "type": "string"
                    },
                    "details": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "title": "Zscaler.Core.ValidationError",
                  "type": "object"
                }
              }
            },
            "description": "The server could not understand the request due to invalid syntax."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.UnauthorizedError",
                  "type": "object"
                }
              }
            },
            "description": "Access is unauthorized."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "INTERNAL_SERVER_ERROR"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "title": "Zscaler.Core.InternalServerError",
                  "type": "object"
                }
              }
            },
            "description": "Server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "servers": [
          {
            "description": "Event Monitoring & Notification API",
            "url": "https://api.zsapi.net/event-monitoring",
            "variables": {}
          }
        ],
        "tags": [
          "Event Monitoring Subscriptions"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "af2ea92d32f89acf3e3dab42216b07148cef2166656dc24c36695c7af59771da",
          "chunk_id": 32896,
          "chunk_url": "https://automate.zscaler.com/assets/js/450ac323.b65dc4f8.js",
          "module": 8003
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "DELETE",
            "name": "Delete a subscription",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "subscriptions",
                ":subscriptionId"
              ],
              "query": [],
              "variable": [
                {
                  "description": {
                    "content": "(Required) ",
                    "type": "text/plain"
                  },
                  "disabled": false,
                  "key": "subscriptionId",
                  "type": "any",
                  "value": ""
                }
              ]
            }
          }
        },
        "x-zscaler-operation-key": "event-monitoring/event-monitoring-subscriptions/subscription-resource-delete-subscription",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/event-monitoring/event-monitoring-subscriptions/subscription-resource-delete-subscription"
      },
      "get": {
        "description": "Get a subscription by ID",
        "operationId": "Subscription Resource Get Subscription",
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_links": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "type": "object"
                    },
                    "channels": {
                      "items": {
                        "properties": {
                          "email": {
                            "properties": {
                              "bcc": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "cc": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "to": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              }
                            },
                            "title": "Email",
                            "type": "object"
                          },
                          "region": {
                            "description": "AWS region of the SNS topic. If omitted, inferred from topic_arn.",
                            "type": "string"
                          },
                          "topic_arn": {
                            "description": "Full AWS SNS topic ARN. Required when type is sns.",
                            "pattern": "^arn:aws:sns:[a-z0-9-]+:\\d{12}:[A-Za-z0-9_-]{1,256}(\\.fifo)?$",
                            "type": "string"
                          },
                          "type": {
                            "enum": [
                              "email",
                              "webhook",
                              "sns"
                            ],
                            "title": "TypeEnum",
                            "type": "string"
                          },
                          "webhook_url": {
                            "pattern": "^https?://.+$",
                            "type": "string"
                          }
                        },
                        "title": "Channel",
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "description": {
                      "type": "string"
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "scope": {
                      "properties": {
                        "source_event_key": {
                          "type": "string"
                        },
                        "source_key": {
                          "type": "string"
                        },
                        "source_type_key": {
                          "type": "string"
                        }
                      },
                      "title": "Scope",
                      "type": "object"
                    },
                    "zia_tenant_id": {
                      "type": "string"
                    },
                    "zpa_tenant_id": {
                      "type": "string"
                    }
                  },
                  "title": "Subscription",
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "enum": [
                        "UNAUTHORIZED"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
[...]
