{
  "components": {
    "securitySchemes": {
      "Bearer": {
        "scheme": "bearer",
        "type": "http"
      },
      "BearerAuth": {
        "scheme": "bearer",
        "type": "http"
      },
      "bearerAuth": {
        "scheme": "bearer",
        "type": "http"
      }
    }
  },
  "info": {
    "description": "API Reference Guide for the Zscaler Client Connector",
    "title": "Zscaler Client Connector API",
    "version": "docusaurus-blob-snapshot"
  },
  "openapi": "3.0.3",
  "paths": {
    "/papi/auth/v1/login": {
      "post": {
        "description": "Authenticate using the <code>apikey</code> and the <code>secretKey</code>. The response returns a JSON Web Token (JWT), which must be used for authentication against other API calls in subsequent requests.",
        "operationId": "Authenticates and obtains a JSON Web Token (JWT)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "apiKey": {
                    "description": "API key ID.",
                    "type": "string"
                  },
                  "secretKey": {
                    "description": "Client secret.",
                    "type": "string"
                  }
                },
                "title": "PApiLoginRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "jwtToken": {
                      "description": "JSON Web Token (JWT).",
                      "type": "string"
                    },
                    "message": {
                      "description": "API login message.",
                      "type": "string"
                    }
                  },
                  "title": "PApiLoginResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "servers": [
          {
            "description": "Inferred Url",
            "url": "https://api.zsapi.net/zcc"
          }
        ],
        "tags": [
          "Login Controller"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "f5d92d82a7951957fef30f7706214e4bee0fc9e946b83e4e49867b37be8eda8c",
          "chunk_id": 834757,
          "chunk_url": "https://automate.zscaler.com/assets/js/6172b68f.7c8fe8d9.js",
          "module": 599640
        },
        "x-zscaler-docusaurus-extras": {
          "jsonRequestBodyExample": {
            "apiKey": "string",
            "secretKey": "string"
          },
          "postman": {
            "body": {
              "mode": "raw",
              "options": {
                "raw": {
                  "language": "json"
                }
              },
              "raw": ""
            },
            "description": {
              "content": "Authenticate using the <code>apikey</code> and the <code>secretKey</code>. The response returns a JSON Web Token (JWT), which must be used for authentication against other API calls in subsequent requests.",
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Content-Type",
                "value": "application/json"
              },
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "POST",
            "name": "Authenticates and obtains a JSON Web Token (JWT)",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "papi",
                "auth",
                "v1",
                "login"
              ],
              "query": [],
              "variable": []
            }
          }
        },
        "x-zscaler-operation-key": "zcc/login-controller/authenticates-and-obtains-a-json-web-token-jwt",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/zcc/login-controller/authenticates-and-obtains-a-json-web-token-jwt"
      }
    },
    "/papi/cred/v1/delete": {
      "delete": {
        "description": "Deletes API credentials for the company.",
        "operationId": "Deletes API credentials for the company",
        "parameters": [
          {
            "description": "id",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean"
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "servers": [
          {
            "description": "Inferred Url",
            "url": "https://api.zsapi.net/zcc"
          }
        ],
        "tags": [
          "Credential Controller"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "c48da8065818a4efb391dc3f6ab32de9f8edcd366df2fe0d09273212db13a822",
          "chunk_id": 686967,
          "chunk_url": "https://automate.zscaler.com/assets/js/bf419fff.6673f6cc.js",
          "module": 607395
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "content": "Deletes API credentials for the company.",
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "*/*"
              }
            ],
            "method": "DELETE",
            "name": "Deletes API credentials for the company",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "papi",
                "cred",
                "v1",
                "delete"
              ],
              "query": [
                {
                  "description": {
                    "content": "(Required) id",
                    "type": "text/plain"
                  },
                  "disabled": false,
                  "key": "id",
                  "value": ""
                }
              ],
              "variable": []
            }
          }
        },
        "x-zscaler-operation-key": "zcc/credential-controller/deletes-api-credentials-for-the-company",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/zcc/credential-controller/deletes-api-credentials-for-the-company"
      }
    },
    "/papi/cred/v1/getList": {
      "get": {
        "description": "Gets the list of API credentials.",
        "operationId": "Gets the list of API credentials",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "companyCredentialsResponses": {
                      "items": {
                        "properties": {
                          "apiKey": {
                            "type": "string"
                          },
                          "errorCodeEnum": {
                            "enum": [
                              "INVALID_REQUEST",
                              "INVALID_SESSION_INTERVAL",
                              "NAME_EXISTS"
                            ],
                            "type": "string"
                          },
                          "id": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "jwtExpirySecs": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "papiKey": {
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "validity": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "title": "PapiKey",
                            "type": "object"
                          },
                          "role": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "secretKey": {
                            "type": "string"
                          },
                          "status": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "updateTimestamp": {
                            "format": "int64",
                            "type": "integer"
                          }
                        },
                        "title": "CompanyCredentialsResponse",
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "title": "CompanyCredWrapperResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "servers": [
          {
            "description": "Inferred Url",
            "url": "https://api.zsapi.net/zcc"
          }
        ],
        "tags": [
          "Credential Controller"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "a407b91255a527495485250518efc91b77d3201779c8d3d5f0cc884c4590f4e0",
          "chunk_id": 391192,
          "chunk_url": "https://automate.zscaler.com/assets/js/302d559e.f0d7ddda.js",
          "module": 731633
        },
        "x-zscaler-docusaurus-extras": {
          "postman": {
            "description": {
              "content": "Gets the list of API credentials.",
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Accept",
                "value": "*/*"
              }
            ],
            "method": "GET",
            "name": "Gets the list of API credentials",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "papi",
                "cred",
                "v1",
                "getList"
              ],
              "query": [],
              "variable": []
            }
          }
        },
        "x-zscaler-operation-key": "zcc/credential-controller/gets-the-list-of-api-credentials",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/zcc/credential-controller/gets-the-list-of-api-credentials"
      }
    },
    "/papi/cred/v1/save": {
      "post": {
        "description": "Saves API credentials for the company.",
        "operationId": "Saves API credentials for the company",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "apiKey": {
                    "type": "string"
                  },
                  "id": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "jwtExpirySecs": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "role": {
                    "format": "byte",
                    "type": "string"
                  },
                  "status": {
                    "format": "byte",
                    "type": "string"
                  }
                },
                "title": "CompanyCredentialRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "apiKey": {
                      "type": "string"
                    },
                    "errorCodeEnum": {
                      "enum": [
                        "INVALID_REQUEST",
                        "INVALID_SESSION_INTERVAL",
                        "NAME_EXISTS"
                      ],
                      "type": "string"
                    },
                    "id": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "jwtExpirySecs": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "papiKey": {
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "validity": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "title": "PapiKey",
                      "type": "object"
                    },
                    "role": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "secretKey": {
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "updateTimestamp": {
                      "format": "int64",
                      "type": "integer"
                    }
                  },
                  "title": "CompanyCredentialsResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "servers": [
          {
            "description": "Inferred Url",
            "url": "https://api.zsapi.net/zcc"
          }
        ],
        "tags": [
          "Credential Controller"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "458334489497103da24dfc68da64ffb3b4b77b88d0d6d26f01dad1ef7daa7dc8",
          "chunk_id": 848978,
          "chunk_url": "https://automate.zscaler.com/assets/js/f4e1274d.4ebd9aed.js",
          "module": 569174
        },
        "x-zscaler-docusaurus-extras": {
          "jsonRequestBodyExample": {
            "apiKey": "string",
            "id": 0,
            "jwtExpirySecs": 0,
            "name": "string",
            "role": "string",
            "status": "string"
          },
          "postman": {
            "body": {
              "mode": "raw",
              "options": {
                "raw": {
                  "language": "json"
                }
              },
              "raw": ""
            },
            "description": {
              "content": "Saves API credentials for the company.",
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Content-Type",
                "value": "application/json"
              },
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "POST",
            "name": "Saves API credentials for the company",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "papi",
                "cred",
                "v1",
                "save"
              ],
              "query": [],
              "variable": []
            }
          }
        },
        "x-zscaler-operation-key": "zcc/credential-controller/saves-api-credentials-for-the-company",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/zcc/credential-controller/saves-api-credentials-for-the-company"
      }
    },
    "/papi/cred/v1/update": {
      "put": {
        "description": "Updates API credentials for the company.",
        "operationId": "Updates API credentials for the company",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "apiKey": {
                    "type": "string"
                  },
                  "id": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "jwtExpirySecs": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "role": {
                    "format": "byte",
                    "type": "string"
                  },
                  "status": {
                    "format": "byte",
                    "type": "string"
                  }
                },
                "title": "CompanyCredentialRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "apiKey": {
                      "type": "string"
                    },
                    "errorCodeEnum": {
                      "enum": [
                        "INVALID_REQUEST",
                        "INVALID_SESSION_INTERVAL",
                        "NAME_EXISTS"
                      ],
                      "type": "string"
                    },
                    "id": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "jwtExpirySecs": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "papiKey": {
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "validity": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "title": "PapiKey",
                      "type": "object"
                    },
                    "role": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "secretKey": {
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "updateTimestamp": {
                      "format": "int64",
                      "type": "integer"
                    }
                  },
                  "title": "CompanyCredentialsResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "servers": [
          {
            "description": "Inferred Url",
            "url": "https://api.zsapi.net/zcc"
          }
        ],
        "tags": [
          "Credential Controller"
        ],
        "x-zscaler-docusaurus": {
          "api_blob_sha256": "ffc413957cce3613e314badc275b7b5cc88e77dce3421d87937fe3ec77177fdf",
          "chunk_id": 926774,
          "chunk_url": "https://automate.zscaler.com/assets/js/54a6bf2a.e0ad388c.js",
          "module": 421945
        },
        "x-zscaler-docusaurus-extras": {
          "jsonRequestBodyExample": {
            "apiKey": "string",
            "id": 0,
            "jwtExpirySecs": 0,
            "name": "string",
            "role": "string",
            "status": "string"
          },
          "postman": {
            "body": {
              "mode": "raw",
              "options": {
                "raw": {
                  "language": "json"
                }
              },
              "raw": ""
            },
            "description": {
              "content": "Updates API credentials for the company.",
              "type": "text/plain"
            },
            "header": [
              {
                "key": "Content-Type",
                "value": "application/json"
              },
              {
                "key": "Accept",
                "value": "application/json"
              }
            ],
            "method": "PUT",
            "name": "Updates API credentials for the company",
            "url": {
              "host": [
                "{{baseUrl}}"
              ],
              "path": [
                "papi",
                "cred",
                "v1",
                "update"
              ],
              "query": [],
              "variable": []
            }
          }
        },
        "x-zscaler-operation-key": "zcc/credential-controller/updates-api-credentials-for-the-company",
        "x-zscaler-source-url": "https://automate.zscaler.com/docs/api-reference-and-guides/api-reference/zcc/credential-controller/updates-api-credentials-for-the-company"
      }
    },
    "/papi/public/v1/application-profiles": {
      "get": {
        "description": "Retrieves the list of application profile policies.",
        "operationId": "Retrieves the list of application profile policies",
        "parameters": [
          {
            "description": "Specifies the page offset.",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "Specifies the page size. The default size is 50.",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "The search string used to match against the policies.",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "The search string used to match against the search type. This is enabled only for filename, name, policyToken, ruleset, or groups.",
            "in": "query",
            "name": "searchType",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "The search string used to match against the device type.",
            "in": "query",
            "name": "deviceType",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "policies": {
                      "description": "The list of policies.",
                      "items": {
                        "properties": {
                          "active": {
                            "description": "Indicates whether the policy is active.",
                            "format": "int32",
                            "type": "integer"
                          },
                          "appServiceIds": {
                            "description": "IDs of the application services associated with the policy.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "appServices": {
                            "description": "The application services associated with the policy.",
                            "items": {
                              "properties": {
                                "active": {
                                  "description": "Specifies whether the application service is active.",
                                  "type": "boolean"
                                },
                                "appDataBlob": {
                                  "description": "Specifies the details (FQDN, IP address, port, etc.) of the application service.",
                                  "items": {
                                    "description": "Specifies the IPv4 related information of the bypass application.",
                                    "properties": {
                                      "fqdn": {
                                        "description": "Specifies the fully qualified domain name.",
                                        "type": "string"
                                      },
                                      "ipaddr": {
                                        "description": "Specifies the IP addresses of the bypassed application.",
                                        "type": "string"
                                      },
                                      "port": {
                                        "description": "Specifies the port of the bypassed application.",
                                        "type": "string"
                                      },
                                      "proto": {
                                        "description": "The protocol of the bypassed IP-based application.",
                                        "type": "string"
                                      }
                                    },
                                    "title": "AppServiceBlobContract",
                                    "type": "object"
                                  },
                                  "type": "array"
                                },
                                "appDataBlobV6": {
                                  "description": "Specifies the details of the app service related to IPv6 addresses.",
                                  "items": {
                                    "description": "Specifies the IPv6 related information of the bypass application.",
                                    "properties": {
                                      "fqdn": {
                                        "description": "Specifies the fully qualified domain name.",
                                        "type": "string"
                                      },
                                      "ipaddr": {
                                        "description": "Specifies the IP addresses of the bypassed application.",
                                        "type": "string"
                                      },
                                      "port": {
                                        "description": "Specifies the port of the bypassed application.",
                                        "type": "string"
                                      },
                                      "proto": {
                                        "description": "The protocol of the bypassed IP-based application.",
                                        "type": "string"
                                      }
                                    },
                                    "title": "AppServiceBlobContractV6",
                                    "type": "object"
                                  },
                                  "type": "array"
                                },
                                "appName": {
                                  "description": "The name of the application service.",
                                  "type": "string"
                                },
                                "appSvcId": {
                                  "description": "The ID of the application service.",
                                  "format": "int32",
                                  "type": "integer"
                                },
                                "appVersion": {
                                  "description": "The version of the application.",
                                  "format": "int32",
                                  "type": "integer"
                                },
                                "createdBy": {
                                  "description": "The user who created the application service.",
                                  "type": "string"
                                },
                                "editedBy": {
                                  "description": "The user who last modified the application service.",
                                  "type": "string"
                                },
                                "editedTimestamp": {
                                  "description": "Timestamp of when the application service was last modified.",
                                  "type": "string"
                                },
                                "id": {
                                  "description": "The ID of the application service.",
                                  "format": "int64",
                                  "type": "integer"
                                },
                                "uid": {
                                  "description": "The user ID of the application service.",
                                  "type": "string"
                                },
                                "version": {
                                  "description": "The version of the application service.",
                                  "format": "int32",
                                  "type": "integer"
                                },
                                "zappDataBlob": {
                                  "description": "Specifies the IPv4 addresses of the predefined bypass application.",
                                  "type": "string"
                                },
                                "zappDataBlobV6": {
                                  "description": "Specifies the IPv6 addresses of the predefined bypass application.",
                                  "type": "string"
                                }
                              },
                              "title": "AppServiceContractRes",
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "bypassAppIds": {
                            "description": "The IDs of the applications configured to bypass policy enforcement.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "bypassApps": {
                            "description": "Specifies the applications configured to bypass policy enforcement.",
                            "items": {
                              "description": "Specifies the applications configured to bypass policy enforcement.",
                              "properties": {
                                "appName": {
                                  "description": "Specifies the name of the process based application.",
                                  "type": "string"
                                },
                                "certificatePayload": {
                                  "description": "Specifies the code signing certificate of the bypass application.",
                                  "type": "string"
                                },
                                "createdBy": {
                                  "description": "The user who created the bypass application.",
                                  "type": "string"
                                },
                                "editedBy": {
                                  "description": "The user who last modified the bypass application.",
                                  "type": "string"
                                },
                                "editedTimestamp": {
                                  "description": "Timestamp of  when the application was last modified.",
                                  "type": "string"
                                },
                                "fileNames": {
                                  "description": "The filenames of the application.",
                                  "items": {
                                    "type": "string"
                                  },
                                  "type": "array"
                                },
                                "filePaths": {
                                  "description": "The file paths of the application.",
                                  "items": {
                                    "type": "string"
                                  },
                                  "type": "array"
                                },
                                "id": {
                                  "description": "The ID of the bypass application.",
                                  "format": "int64",
                                  "type": "integer"
                                },
                                "matchingCriteria": {
                                  "description": "Specifies the criteria for which the application is matched to be bypassed by signature or certificate information.",
                                  "format": "byte",
                                  "type": "string"
                                },
                                "signaturePayload": {
                                  "description": "Object containing executable signature that distinguishes the bypass application from other signatures.",
                                  "type": "string"
                                }
                              },
                              "title": "AppIdentityContract",
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "bypassCustomAppIds": {
                            "description": "The IDs of the custom applications configured to bypass policy enforcement.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "bypassCustomApps": {
                            "description": "Specifies the custom applications configured to bypass policy enforcement.",
                            "items": {
                              "description": "Specifies the custom applications configured to bypass policy enforcement.",
                              "properties": {
                                "active": {
                                  "description": "Indicates whether the custom app service is active.",
                                  "type": "boolean"
                                },
                                "appDataBlob": {
                                  "items": {
                                    "description": "Specifies the IPv4 related information of the bypass application.",
                                    "properties": {
                                      "fqdn": {
                                        "description": "Specifies the fully qualified domain name.",
                                        "type": "string"
                                      },
                                      "ipaddr": {
                                        "description": "Specifies the IP addresses of the bypassed application.",
                                        "type": "string"
                                      },
                                      "port": {
                                        "description": "Specifies the port of the bypassed application.",
                                        "type": "string"
                                      },
                                      "proto": {
                                        "description": "The protocol of the bypassed IP-based application.",
                                        "type": "string"
                                      }
                                    },
                                    "title": "AppServiceBlobContract",
                                    "type": "object"
                                  },
                                  "type": "array"
                                },
                                "appDataBlobV6": {
                                  "items": {
                                    "description": "Specifies the IPv6 related information of the bypass application.",
                                    "properties": {
                                      "fqdn": {
                                        "description": "Specifies the fully qualified domain name.",
                                        "type": "string"
                                      },
                                      "ipaddr": {
                                        "description": "Specifies the IP addresses of the bypassed application.",
                                        "type": "string"
                                      },
                                      "port": {
                                        "description": "Specifies the port of the bypassed application.",
                                        "type": "string"
                                      },
                                      "proto": {
                                        "description": "The protocol of the bypassed IP-based application.",
                                        "type": "string"
                                      }
                                    },
                                    "title": "AppServiceBlobContractV6",
                                    "type": "object"
                                  },
                                  "type": "array"
                                },
                                "appName": {
                                  "description": "The name of the bypass custom application.",
                                  "type": "string"
                                },
                                "createdBy": {
                                  "description": "The user who created the custom bypass application.",
                                  "type": "string"
                                },
                                "editedBy": {
                                  "description": "The user who last modified the custom bypass application.",
                                  "type": "string"
                                },
                                "editedTimestamp": {
                                  "description": "Timestamp of when the custom app service was last modified.",
                                  "type": "string"
                                },
                                "id": {
                                  "description": "The ID of the custom bypass application.",
                                  "format": "int64",
                                  "type": "integer"
                                },
                                "uid": {
                                  "description": "The user ID of the custom bypass application.",
                                  "type": "string"
                                },
                                "zappDataBlob": {
                                  "description": "Specifies the IPv4 addresses of the predefined bypass application.",
                                  "type": "string"
                                },
                                "zappDataBlobV6": {
                                  "description": "Specifies the IPv6 addresses of the predefined bypass application.",
                                  "type": "string"
                                }
                              },
                              "title": "CustomAppContract",
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "description": {
                            "description": "The description of the application profile.",
                            "type": "string"
                          },
                          "deviceGroupIds": {
                            "description": "The ID of the device group.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "deviceGroups": {
                            "items": {
                              "properties": {
                                "companyId": {
                                  "description": "The ID of the company.",
                                  "type": "string"
                                },
                                "description": {
                                  "description": "The description of the device group.",
                                  "type": "string"
                                },
                                "devicePosture": {
                                  "description": "Specifies the device posture.",
                                  "type": "string"
                                },
                                "id": {
                                  "description": "The ID of the device group.",
                                  "type": "string"
                                },
                                "name": {
                                  "description": "The name of the device group.",
                                  "type": "string"
                                },
                                "platformType": {
                                  "description": "The type of platform.",
                                  "format": "byte",
                                  "type": "string"
                                }
                              },
                              "title": "PublicWebDeviceGroupContract",
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "deviceType": {
                            "description": "The type of device.",
                            "enum": [
                              "DEVICE_TYPE_ANDROID",
                              "DEVICE_TYPE_IOS",
                              "DEVICE_TYPE_LINUX",
                              "DEVICE_TYPE_MAC",
                              "DEVICE_TYPE_OTHER",
                              "DEVICE_TYPE_WINDOWS"
                            ],
                            "type": "string"
                          },
                          "disasterRecovery": {
                            "properties": {
                              "allowZiaTest": {
                                "description": "Indicates whether ZIA test mode is activated.",
                                "type": "boolean"
                              },
                              "allowZpaTest": {
                                "description": "Indicates whether ZPA test mode is activated.",
                                "type": "boolean"
                              },
                              "enableZiaDR": {
                                "description": "Indicates whether the ZIA test is enabled.",
                                "type": "boolean"
                              },
                              "enableZpaDR": {
                                "description": "Indicates whether the ZPA test is enabled.",
                                "type": "boolean"
                              },
                              "policyId": {
                                "description": "Unique identifier of the policy.",
                                "type": "string"
                              },
                              "useZiaGlobalDb": {
                                "description": "Indicates whether ZIA global database is used.",
                                "type": "boolean"
                              },
                              "ziaDRRecoveryMethod": {
                                "description": "Specifies the ZIA disaster recovery method.",
                                "format": "int32",
                                "type": "integer"
                              },
                              "ziaDomainName": {
                                "description": "Specifies the ZIA domain name.",
                                "type": "string"
                              },
                              "ziaGlobalDbUrl": {
                                "description": "Specifies the global database URLs that can be accessed.",
                                "type": "string"
                              },
                              "ziaGlobalDbUrlv2": {
                                "description": "Specifies the URLs available in the ZIA global database allowlist.",
                                "type": "string"
                              },
                              "ziaPacUrl": {
                                "description": "Specifies the PAC URL that users can access when the ZIA service is down.",
                                "type": "string"
                              },
                              "ziaSecretKeyData": {
                                "description": "Specifies the secret key data for ZIA authentication during disaster recovery.",
                                "type": "string"
                              },
                              "ziaSecretKeyName": {
                                "description": "Specifies the secret key name for ZIA authentication during disaster recovery.",
                                "type": "string"
                              },
                              "zpaDomainName": {
                                "description": "Specifies the domain name.",
                                "type": "string"
                              },
                              "zpaSecretKeyData": {
                                "description": "Specifies the secret key data for ZIA authentication during disaster recovery.",
                                "type": "string"
                              },
                              "zpaSecretKeyName": {
                                "description": "Specifies the secret key name for ZPA authentication during disaster recovery.",
                                "type": "string"
                              }
                            },
                            "title": "WebPolicyDisasterRecoveryContract",
                            "type": "object"
                          },
                          "enableDeviceGroups": {
                            "description": "Indicates whether device groups are enabled.",
                            "format": "byte",
                            "type": "string"
                          },
                          "groupAll": {
                            "description": "Specifies if the rule applies to all device groups.",
                            "format": "int32",
                            "type": "integer"
                          },
                          "groupIds": {
                            "description": "Specifies the device group IDs to which the rule applies.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "groups": {
                            "items": {
                              "properties": {
                                "active": {
                                  "description": "Indicates whether the underline group is active.",
                                  "format": "int32",
                                  "type": "integer"
                                },
                                "authType": {
                                  "description": "The authentication type for the group.",
                                  "type": "string"
                                },
                                "id": {
                                  "description": "The ID of the group.",
                                  "format": "int32",
                                  "type": "integer"
                                },
                                "lastModification": {
                                  "description": "Timestamp of when the group was last modified.",
                                  "type": "string"
                                },
                                "name": {
                                  "description": "The name of the group.",
                                  "type": "string"
                                }
                              },
                              "title": "PublicGroupContract",
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "highlightActiveControl": {
                            "description": "Indicates whether an outline around an actively selected control is displayed.",
                            "format": "byte",
                            "type": "string"
                          },
                          "id": {
                            "description": "ID of the profile.",
                            "format": "int64",
                            "type": "integer"
                          },
                          "logFileSize": {
                            "description": "Specifies the maximum size of the log file.",
                            "format": "int32",
                            "type": "integer"
                          },
                          "logLevel": {
                            "description": "Specifies log severity (Low 0, Normal 1, and High 2)",
                            "format": "int32",
                            "type": "integer"
                          },
                          "logMode": {
                            "description": "Specifies the scope of the logs.",
                            "format": "int32",
                            "type": "integer"
                          },
                          "name": {
                            "description": "Specifies the name of the application profile.",
                            "type": "string"
                          },
                          "notificationTemplateContract": {
                            "properties": {
                              "companyId": {
                                "description": "ID of the company.",
                                "format": "int32",
                                "type": "integer"
                              },
                              "createdBy": {
                                "description": "The user who created the notification template.",
                                "type": "string"
                              },
                              "customTimer": {
                                "description": "Specifies the time interval (in seconds) the notification is displayed for the user.",
                                "format": "int32",
                                "type": "integer"
                              },
                              "defaultTemplate": {
                                "description": "Specifies if this is the default template for new app profiles.",
                                "type": "string"
                              },
                              "doNotDisturb": {
                                "description": "Indicates whether notifications are enabled.",
                                "type": "string"
                              },
                              "editedBy": {
                                "description": "The user who modified the notification template.",
                                "type": "string"
                              },
                              "enableAppUpdatesNotification": {
                                "description": "Indicates whether app updates notification is enabled.",
                                "type": "string"
                              },
                              "enableClientNotification": {
                                "description": "Indicates whether client notification is enabled.",
                                "type": "string"
                              },
                              "enableNotificationForZPAReauth": {
                                "description": "Indicates whether notifications for ZPA reauthentication is enabled.",
                                "type": "string"
                              },
                              "enablePersistantNotification": {
                                "description": "Indicates whether persistent notification is enabled.",
                                "type": "string"
                              },
                              "enableServiceStatusNotification": {
                                "description": "Indicates whether service status notification is enabled.",
                                "type": "string"
                              },
                              "enableZiaNotification": {
                                "description": "Indicates whether ZIA notification is enabled.",
                                "type": "string"
                              },
                              "id": {
                                "description": "The ID of the notification template.",
                                "format": "int64",
                                "type": "integer"
                              },
                              "showDevicePostureFailureNotification": {
                                "description": "Indicates whether device posture failure notification is shown.",
                                "type": "string"
                              },
                              "templateName": {
                                "description": "The name of the template.",
                                "type": "string"
                              },
                              "ziaDNS": {
                                "description": "Indicates whether DNS notifications from ZIA are enabled.",
                                "type": "string"
                              },
                              "ziaDNSPopup": {
                                "description": "Indicates whether DNS pop-up notifications from ZIA are enabled.",
                                "type": "string"
                              },
                              "ziaFirewall": {
                                "description": "Indicates whether firewall notifications from ZIA are enabled.",
                                "type": "string"
                              },
                              "ziaFirewallPopup": {
                                "description": "Indicates whether firewall pop-up notifications from ZIA are enabled.",
                                "type": "string"
                              },
                              "ziaIPS": {
                                "description": "Indicates whether IPS notifications from ZIA are enabled.",
                                "type": "string"
                              },
                              "ziaIPSPopup": {
                                "description": "Indicates whether IPS pop-up notifications from ZIA are enabled.",
                                "type": "string"
                              },
                              "ziaNotificationPersistant": {
                                "description": "Indicates whether ZIA Notification Persistent is enabled. When enabled, overrides the Custom Timer and makes certain ZIA notifications persistent.",
                                "type": "string"
                              },
                              "zpaReauthNotificationTime": {
                                "description": "Indicates whether ZPA reauthentication notification at a specific time interval is enabled.",
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "title": "PublicNotificationTemplateContract",
                            "type": "object"
                          },
                          "notificationTemplateId": {
                            "description": "The ID of the notification template.",
                            "format": "int64",
                            "type": "integer"
                          },
                          "onNetPolicy": {
                            "description": "Specifies the policies to define how Zscaler Client Connector treats traffic from user systems in the ZIA and ZPA services.",
                            "properties": {
                              "active": {
                                "description": "Indicates whether the forwarding profile is active.",
                                "type": "string"
                              },
                              "companyId": {
                                "description": "The ID of the company.",
                                "type": "string"
                              },
                              "conditionType": {
                                "description": "Specifies the condition to match the forwarding profile with traffic.",
                                "format": "int32",
                                "type": "integer"
                              },
                              "createdBy": {
                                "description": "The user who created the forwarding profile.",
                                "type": "string"
                              },
                              "dnsSearchDomains": {
                                "description": "The search domains configured as the primary domains for the network adapter used for connecting to Zscaler.",
                                "type": "string"
                              },
                              "dnsServers": {
                                "description": "The DNS servers where your corporate network sends DNS requests.",
                                "type": "string"
                              },
                              "editedBy": {
                                "description": "The user who last modified the forwarding profile.",
                                "type": "string"
                              },
                              "enableAllDefaultAdaptersTN": {
                                "description": "Indicates if trusted network against all default route adapters is enabled. ",
                                "format": "byte",
                                "type": "string"
                              },
                              "enableLWFDriver": {
                                "description": "Indicates if the option to install and use the WFP-based Zscaler driver for Flow Logging, Block Domain Profile Detection, Block All Inbound Traffic, Process-Based Application Bypass, ZDX Autosense Probes, and Location Policy Override is enabled.",
                                "type": "string"
                              },
                              "enableSplitVpnTN": {
                                "description": "Indicates if split VPN-trusted network is enabled.",
                                "format": "byte",
                                "type": "string"
                              },
                              "forwardingProfileActions": {
                                "description": "Specifies the forwarding profile actions how Zscaler Client Connector treats traffic from the users' systems for the ZIA service for On-Trusted Network, VPN-Trusted Network, Off-Trusted Network, or Split VPN-Trusted Network types.",
                                "items": {
                                  "properties": {
                                    "DTLSTimeout": {
                                      "description": "Specifies the time in seconds the Zscaler Client Connector waits before falling back to another transport mechanism.",
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "TLSTimeout": {
                                      "description": "Specifies the time, in seconds, that Zscaler Client Connector waits before falling back to another transport mechanism.",
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "UDPTimeout": {
                                      "description": "Specifies the UDP connection timeout in seconds.",
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "actionType": {
                                      "description": "Specifies the forwarding profile actions how Zscaler Client Connector treats traffic from the  users' systems for the ZIA service for On-Trusted Network, VPN-Trusted Network, Off-Trusted Network, or Split VPN-Trusted Network types.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "allowTLSFallback": {
                                      "description": "Indicates if Allow TLS Fallback option is enabled.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "blockUnreachableDomainsTraffic": {
                                      "description": "Indicates whether the domains that are not reachable from the ZIA Public Service Edge are dropped or bypassed.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "customPac": {
                                      "description": "Specifies the PAC URL.",
                                      "type": "string"
                                    },
                                    "dropIpv6IncludeTrafficInT2": {
                                      "description": "Indicates whether IPv6 traffic that matches the destination inclusion is dropped.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "dropIpv6Traffic": {
                                      "description": "Indicates whether drop IPv6 traffic is enabled. When enabled, admin configured IPv6 traffic on App profile (destination inclusions) is dropped if IPv6 is not provisioned for company or ZIA Service Edge node.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "dropIpv6TrafficInIpv6Network": {
                                      "description": "Indicates whether Zscaler Client Connector intercepts and drops IPv6 packets coming from an IPv6-only network.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "enablePacketTunnel": {
                                      "description": "Specifies whether the packet tunnel is enabled to capture traffic specific to the Zscaler Client Connector app.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "latencyBasedZenEnablement": {
                                      "description": "Specifies whether the latency-based Zen option is enabled. When enabled, you can configure settings for probe interval, probe sample size, and threshold rank. By default, this option is disabled.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "mtuForZadapter": {
                                      "description": "Specifies the maximum transmission unit (MTU) for the Zscaler adapter. ",
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "networkType": {
                                      "description": "Specifies the type of network.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "optimiseForUnstableConnections": {
                                      "description": "Indicates whether the Optimize for Unstable Connections option is enabled.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "pathMtuDiscovery": {
                                      "description": "Indicates whether Zscaler Client Connector discovers the optimal path MTU for Z-Tunnel 2.0.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "primaryTransport": {
                                      "description": "Indicates whether primary transport for Z-Tunnel 2.0 is selected.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "redirectWebTraffic": {
                                      "description": "Indicates whether redirect web traffic is enabled.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "sendAllDNSToTrustedServer": {
                                      "description": "Indicates whether Send All DNS During Fail-Close to Trusted-DNS Server is enabled.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "systemProxy": {
                                      "description": "Specifies the system proxy settings.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "systemProxyData": {
                                      "properties": {
                                        "bypassProxyForPrivateIP": {
                                          "description": "Specifies the bypass proxy for private IP addresses.",
                                          "format": "int32",
                                          "type": "integer"
                                        },
                                        "enableAutoDetect": {
                                          "description": "Indicates whether Auto Detect is enabled.",
                                          "format": "int32",
                                          "type": "integer"
                                        },
                                        "enablePAC": {
                                          "description": "Indicates whether PAC is enabled.",
                                          "format": "int32",
                                          "type": "integer"
                                        },
                                        "enableProxyServer": {
                                          "description": "Indicates whether a proxy server is enabled.",
                                          "format": "int32",
                                          "type": "integer"
                                        },
                                        "pacDataPath": {
                                          "description": "Specifies the registry path and name.",
                                          "type": "string"
                                        },
                                        "pacURL": {
                                          "description": "Specifies the PAC URL.",
                                          "type": "string"
                                        },
                                        "performGPUpdate": {
                                          "description": "Indicates whether Execute GPO Update is enabled.",
                                          "format": "int32",
                                          "type": "integer"
                                        },
                                        "proxyAction": {
                                          "description": "<p>Defines system proxy settings for user devices:</p><ul>\n <li>Enforce</li>\n <li>Apply On-Trusted Network Type change</li>\n <li>Never</li></ul>",
                                          "format": "byte",
                                          "type": "string"
                                        },
                                        "proxyServerAddress": {
                                          "description": "Specifies the proxy server address.",
                                          "type": "string"
                                        },
                                        "proxyServerPort": {
                                          "description": "Specifies the proxy server port.",
                                          "type": "string"
                                        }
                                      },
                                      "title": "PublicWebSystemProxyDataContract",
                                      "type": "object"
                                    },
                                    "tunnel2FallbackType": {
                                      "description": "<p>Specifies the action in case of Z-Tunnel 2.0 failure:</p>\n <li>Fallback to Z-Tunnel 1.0 and bypass non-web traffic</li>\n <li>Fallback to Z-Tunnel 1.0 and block non-web traffic</li>\n <li>Block all traffic</li>\n",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "useTunnel2ForProxiedWebTraffic": {
                                      "description": "Specifies whether Z-Tunnel 2.0 for Proxied Web Traffic is enabled. When enabled, Zscaler Client Connector uses Z-Tunnel 2.0 protocol for tunneling web traffic received on the Zscaler Client Connector listening proxy. When disabled, Zscaler Client Connector uses the Z-Tunnel 1.0 protocol.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "useTunnel2ForUnencryptedWebTraffic": {
                                      "description": "Specifies whether Z-Tunnel 2.0 for Unencrypted Web Traffic is enabled. When enabled, Zscaler Client Connector uses Z-Tunnel 2.0 protocol for unencrypted web traffic.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "v4FailCloseTrustedDNSServer": {
                                      "description": "Specifies the IPv4 address that Zscaler Client Connector uses for DNS requests to an IPv4 destination.",
                                      "type": "string"
                                    },
                                    "v6FailCloseTrustedDNSServer": {
                                      "description": "Specifies the IPv6 address that Zscaler Client Connector uses for DNS requests to an IPv6 destination.",
                                      "type": "string"
                                    },
                                    "zenProbeInterval": {
                                      "description": "Specifies the time interval for an IP address to connect with the server.",
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "zenProbeSampleSize": {
                                      "description": "Specifies the number of retries required to establish a connection before a failover.",
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "zenThresholdLimit": {
                                      "description": "Ranks the change in latency of the primary and secondary ZIA Public Service Edges, Private Service Edges, or Virtual Service Edges.",
                                      "format": "int32",
                                      "type": "integer"
                                    }
                                  },
                                  "title": "PublicForwardingProfileActionContractv2",
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "forwardingProfileZpaActions": {
                                "items": {
                                  "properties": {
                                    "DTLSTimeout": {
                                      "description": "Specifies the time in seconds the Zscaler Client Connector waits before falling back to another transport mechanism.",
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "TLSTimeout": {
                                      "description": "Specifies the time, in seconds, that Zscaler Client Connector waits before falling back to another transport mechanism.",
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "actionType": {
                                      "description": "Specifies the type of action.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "latencyBasedServerEnablement": {
                                      "description": "Indicates whether the Latency-Based Server option is enabled. When enabled, you can configure settings for probe interval, probe sample size, and threshold rank. By default, this option is disabled.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "latencyBasedServerMTEnablement": {
                                      "description": "Indicates whether the Latency-Based Server option for machine tunnel is enabled.",
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "lbsProbeInterval": {
                                      "description": "Specifies the time interval (in seconds) in which an IP address connects with a server. The default is 60 seconds.",
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "lbsProbeSampleSize": {
                                      "description": "Specifies the number of retries required to establish a connection before a failover. The default is 5 times.",
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "lbsThresholdLimit": {
                                      "description": "Specifies the change in latency of the primary and secondary ZPA Public Service Edges.",
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "mtuForZadapter": {
                                      "description": "Specifies the maximum transmission unit (MTU) for the Zscaler adapter.",
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "networkType": {
                                      "description": "Specifies the type of network.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "partnerInfo": {
                                      "description": "Specifies the partner information.",
                                      "properties": {
                                        "allowTlsFallback": {
                                          "description": "Indicates whether Allow TLS Fallback is enabled.",
                                          "format": "byte",
                                          "type": "string"
                                        },
                                        "mtuForZadapter": {
                                          "description": "Specifies the maximum transmission unit (MTU) for the Zscaler adapter.",
                                          "format": "int32",
                                          "type": "integer"
                                        },
                                        "primaryTransport": {
                                          "description": "Specifies the primary transport for Z-Tunnel 2.0.",
                                          "format": "byte",
                                          "type": "string"
                                        }
                                      },
                                      "title": "PublicForwardingProfileActionContractPartnerLogin",
                                      "type": "object"
                                    },
                                    "primaryTransport": {
                                      "description": "Specifies the primary transport for Z-Tunnel 2.0.",
                                      "format": "byte",
                                      "type": "string"
                                    },
                                    "sendTrustedNetworkResultToZpa": {
                                      "description": "Indicates whether Send Trusted Network Result to ZPA is enabled.",
                                      "format": "byte",
                                      "type": "string"
                                    }
                                  },
                                  "title": "PublicForwardingProfileActionContractZpaV2",
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "hostname": {
                                "description": "The hostname of the network.",
                                "type": "string"
                              },
                              "id": {
                                "description": "ID of the forwarding profile.",
                                "type": "string"
                              },
                              "name": {
                                "description": "Specifies the name of the forwarding profile.",
                                "type": "string"
                              },
                              "predefinedTnAll": {
                                "description": "Specifies all types of predefined trusted networks.",
                                "type": "boolean"
                              },
                              "predefinedTrustedNetworks": {
                                "description": "Specifies selected predefined trusted networks.",
                                "type": "boolean"
                              },
                              "resolvedIpsForHostname": {
                                "description": "The IP addresses that the hostname resolves to.",
                                "type": "string"
                              },
                              "skipTrustedCriteriaMatch": {
                                "description": "Indicates if Skip Trusted Criteria match for VPN Adapters is enabled.",
                                "format": "byte",
                                "type": "string"
                              },
                              "trustedDhcpServers": {
                                "description": "The DHCP server of the trusted network.",
                                "type": "string"
                              },
                              "trustedEgressIps": {
                                "description": "The egress IP address of the network.",
                                "type": "string"
                              },
                              "trustedGateways": {
                                "description": "The IP address of the default gateway.",
                                "type": "string"
                              },
                              "trustedNetworkIds": {
                                "description": "The IDs of trusted networks.",
                                "items": {
                                  "format": "int64",
                                  "type": "integer"
                                },
                                "type": "array"
                              },
                              "trustedNetworks": {
                                "description": "Specifies the list of trusted networks.",
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "trustedSubnets": {
                                "description": "The subnet of the trusted network.",
                                "type": "string"
                              }
                            },
                            "title": "PublicWebForwardingProfileContract",
                            "type": "object"
                          },
                          "pac_url": {
                            "description": "The PAC URL.",
                            "type": "string"
                          },
                          "policyExtension": {
                            "description": "Specifies the extended policy object.",
                            "properties": {
                              "advanceZpaReauth": {
                                "description": "Indicates whether advance ZPA reauthentication is enabled.",
                                "type": "boolean"
                              },
                              "advanceZpaReauthTime": {
                                "description": "Specifies the time remaining until expiration at which the Zscaler Client Connector notifies the user.",
                                "format": "int32",
                                "type": "integer"
                              },
                              "customDNS": {
                                "description": "Specifies the custom DNS server URL.",
                                "type": "string"
                              },
                              "ddilConfig": {
                                "description": "Specifies Denied, Degraded, Intermittent, and Limited (DDIL) configuration.",
                                "type": "string"
                              },
                              "deleteDHCPOption121Routes": {
                                "description": "When this option is enabled, Zscaler Client Connector automatically removes routes created by DHCP option 121.",
                                "type": "string"
                              },
                              "disableDNSRouteExclusion": {
                                "description": "Indicates if DNS server route exclusion is disabled. When enabled, Zscaler Client Connector excludes DNS servers from the routing table.",
                                "format": "byte",
                                "type": "string"
                              },
                              "dropQuicTraffic": {
                                "description": "Indicates if drop QUIC traffic is enabled. When enabled, Z-Tunnel 1.0 drops QUIC packets so the application can fall back to TCP 443.",
                                "format": "byte",
                                "type": "string"
                              },
                              "enableAntiTampering": {
                                "description": "Indicates if the option to allow anti-tampering is enabled. Anti-tampering protection prevents users from stopping and modifying Zscaler endpoint products.",
                                "type": "string"
                              },
                              "enableSetProxyOnVPNAdapters": {
                                "description": "Indicates whether Set Proxy On VPN Adapters is enabled. When enabled, Zscaler Client Connector sets configured proxy settings on VPN adapters in addition to physical adapters.",
                                "format": "byte",
                                "type": "string"
                              },
                              "enableZCCRevert": {
                                "description": "Indicates whether ZCC revert is enabled to revert to the previous ZCC version.",
                                "type": "string"
                              },
                              "enableZdpService": {
                                "description": "Indicates whether Zscaler Data Protection (ZDP) service is enabled to install ZDP endpoint.",
                                "type": "string"
                              },
                              "enforceSplitDNS": {
                                "description": "Indicates whether Enforce Split DNS is enabled. When enabled, Zscaler Client Connector is enforced to handle DNS traffic of desired (ZPA) domains only.",
                                "format": "byte",
                                "type": "string"
                              },
                              "exitPassword": {
                                "description": "Specifies the password users must enter to exit the app from the system tray without disabling ZIA.",
                                "type": "string"
                              },
                              "fallbackToGatewayDomain": {
                                "description": "Indicates if fallback to gateway domain is enabled. When enabled, ZCC falls back to the gateway domain when PAC proxies cannot be reached for Z-Tunnel 1.0.",
                                "type": "string"
                              },
                              "followGlobalForPartnerLogin": {
                                "description": "Indicates if Follow Global for Partner Login is enabled. When enabled, you cannot configure partner login access on this profile.",
                                "type": "string"
                              },
                              "followRoutingTable": {
                                "description": "Indicates whether the Follow Routing Table option is enabled. When disabled, Zscaler Client Connector binds ZIA Z-Tunnel 1.0, ZIA Z-Tunnel 2.0, ZPA and bypassed connections as per app profile PAC to system default interface.",
                                "type": "string"
                              },
                              "generateCliPasswordContract": {
                                "description": "This option allows admins to interact with Zscaler Client Connector via CLI interface.",
                                "properties": {
                                  "allowZpaDisableWithoutPassword": {
                                    "description": "Indicates whether Allow ZPA Disable without Password is enabled.",
                                    "type": "boolean"
                                  },
                                  "enableCli": {
                                    "description": "Indicates whether CLI is enabled.",
                                    "type": "boolean"
                                  },
                                  "policyId": {
                                    "description": "ID of the policy.",
                                    "format": "int64",
                                    "type": "integer"
                                  }
                                },
                                "title": "GenerateCliPasswordContract",
                                "type": "object"
                              },
                              "interceptZIATrafficAllAdapters": {
                                "description": "Indicates whether intercept ZIA traffic is enabled to have Zscaler Client Connector intercept ZIA traffic from all network adapters.",
                                "type": "string"
                              },
                              "machineIdpAuth": {
                                "description": "Indicates whether Machine IdP Auth is enabled. When enabled, you must authenticate via IdP before the machine tunnel starts if you use the Tunnel feature in ZPA.",
                                "type": "boolean"
                              },
                              "nonce": {
                                "description": "Specifies the machine token or machine provisioning keys to which the rule applies.",
                                "type": "string"
                              },
                              "overrideATCmdByPolicy": {
                                "description": "Specifies whether override ATCmd By Policy is enabled. When enabled, you can use the ENABLEANTITAMPERING setting from the app profile. This option is applicable only to Zscaler Client Connector version 4.5 and later for Windows.",
                                "type": "string"
                              },
                              "packetTunnelDnsExcludeList": {
                                "description": "Specifies the DNS domains that Zscaler Client Connector must not tunnel through ZIA. You can enter * to exclude all, or enter specific domains separated by comma (e.g., zscaler.com, abc.com, xyz.com, etc.).",
                                "type": "string"
                              },
                              "packetTunnelDnsIncludeList": {
                                "description": "Specifies the DNS domains that Zscaler Client Connector must tunnel through ZIA. You can enter * to exclude all, or enter specific domains separated by comma (e.g., zscaler.com, abc.com, xyz.com, etc.).",
                                "type": "string"
                              },
                              "packetTunnelExcludeList": {
                                "description": "Specifies comma-separated string of IPv4 subnets or ranges of the traffic to exclude in Z-Tunnel 2.0 (e.g., 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,224.0.0.0/4,255.255.255.255).",
                                "type": "string"
                              },
                              "packetTunnelExcludeListForIPv6": {
                                "description": "Specifies comma-separated string of specific IPv6 subnets of the traffic to exclude in Z-Tunnel 2.0 (e.g., [FF00::/8],[FE80::/10],[FC00::/7]).",
                                "type": "string"
                              },
                              "packetTunnelIncludeList": {
                                "description": "Specifies comma-separated string of specific IPv4 subnets of the traffic to include in Z-Tunnel 2.0 (e.g., 10.0.0.0/8,172.16.0.0/12).",
                                "type": "string"
                              },
                              "packetTunnelIncludeListForIPv6": {
                                "description": "Specifies comma-separated string of specific IPv6 subnets of the traffic to include in Z-Tunnel 2.0 (e.g., 10.0.0.0/8,172.16.0.0/12).",
                                "type": "string"
                              },
                              "partnerDomains": {
                                "description": "Specifies the partner domains.",
                                "type": "string"
                              },
                              "prioritizeDnsExclusions": {
                                "description": "Indicates whether Prioritize DNS Exclusions is enabled. When enabled, Zscaler Client Connector prioritizes DNS domains in Domain Exclusions over Domain Inclusions.",
                                "format": "byte",
                                "type": "string"
                              },
                              "purgeKerberosPreferredDCCache": {
                                "description": "Indicates whether purge Kerberos Preferred DC Cache is enabled. When enabled, Zscaler Client Connector clears the list of Kerberos-preferred domain controllers in the cache when connected to and disconnected from ZPA. Applies only to Zscaler Client Connector version 4.5 and later for Windows.",
                                "type": "string"
                              },
                              "reactivateAntiTamperingTime": {
                                "description": "Specifies the time in minutes for Zscaler Client Connector to reactivate Anti-Tampering if the user disables it using One-Time Password (OTP).",
                                "format": "int32",
[...]
